#map {

    height: 100vh;
}


#map-container {

    position: relative;
}


#top-bar-left {

    position: absolute;
    z-index: 35000;
    left: 16%;
}



#top-bar-right {

    position: absolute;
    z-index: 35000;
    left: 66%;
}


#search-input {
    float: right;
}

#search-park-type {
    float: left;
}

#display-search {

    position: absolute;
    z-index: 35000;
    top: 3.5%;
    left: 67%;
}
