#map {

    height: 100vh;
}


#map-container {

    position: relative;
}


body {
    font-family: 'Roboto Slab', serif;
    font-size: medium;
}

/* Latest attempt below */
/* 
#search-surrounding {

    background-color: aquamarine;
    z-index: 34000;
    padding: 15px;
} */



.search-peri {
    background-color: #2d46203d;
    /* background-color: #2D4620; */
    z-index: 34000;
    padding: 5px;
    /* display: none */
}


/*  rgb(97, 97, 96) grey */
#top-bar-left {

    position: absolute;
    z-index: 35000;
    left: 16%;
}



#top-bar-right {
    color: white;
    position: absolute;
    z-index: 35000;
    left: 4%;
    top: 22%;
    border-radius: 15px
}


/* To control the leaf icon image styling */
.leaf-icon {
    position: absolute;
    z-index: 34500;
    width: 8vh;
    top: 78%;
    left: 4%
}

.invalid-tree {
    width: 300px
}


/* TO DELETE 
.about-button {
    margin-top: 4px;
    position: absolute;
    z-index: 34500;
    top: 86%;
    left: 2%;
    font-size: 0.7em;
    width: 80px
} */




.modal {
    z-index: 36000;

}

.modal-button {
    margin-top: 4px;
    position: absolute;
    z-index: 34500;
    top: 86%;
    left: 2%;
    font-size: 0.7em;
    width: 80px
}

/* 
.click-about-us {
    position: absolute;
    z-index: 34500;
    top: 91%;
    left: 2%
} */


/* 
.attribution-word{
    height:15px;
    font-size:x-small
} */

#about-us {
    position: absolute;
    z-index: 34500;
    top: 79%;
    left: 25%;
    background-color: #32CD32;
    display: none;
    margin-right: 6px;
    border-radius: 15px;
    padding: 2px;
    min-height: 85px
}

/* 
#search-input {
    float: right;
} */
/* 
#search-park-type {
    float: left;
} */

#display-search {
    /* 
    position: absolute;
    z-index: 35000;
    top: 33%;
    left: 67%; */
    max-height: 200px;
    max-width: 243px;
    overflow-y: scroll;
    /* background-color: rgba(255, 255, 255, 0.90);
    color: black; */
    background-color:#2d46203d;
    color: white;
    border-radius: 15px
}

#categories-error,
#sort-error {
    font-size: xx-small;
    color: red;
    font-weight: 500;
}

#search-terms {
    font-size: large;
}

.popup {
    overflow: scroll;
    width: 320px;
    height: 150px;
}

.popupFood {
    width: 150px;

}

.btn-success {

    margin-top: 15px;
}

/* 
.offcanvas {

    z-index: 35000;
} */


.offcanvas {

    /* background-color: rgba(255, 255, 255, 0.41); */
    background-color: rgba(41, 111, 2, 0.29);

    z-index: 36000
}

#close-offcanvas-button{
    display:flex; 
    padding: 0px;
    background-color: orange;
    width:15px

}

#canvas-button {
    position: absolute;
    /* top: 3%;
    right: 7%; */
    margin-top: 0;
    bottom: 4.5%;
    left: 24vw;

    font-size: x-small;
    z-index: 34000
}

@media (min-width:573px) {
    #canvas-button {
        
        left: 19vw;

    }
}

@media (min-width:768px) {
    #canvas-button {
        
        left: 15vw;

    }
}


#display-button {
    margin-top: 4px;
}


.weather-display {
    color: white;
}

.food-button-description {
    color: white;
    margin-left: 4px;
    display: inline-flex

}


#offcanvas-makepadding {
    padding-top: 0
}

#offcanvasExampleLabel {
    color: white;
    font-weight: bold;

}

#search-tab,
#weather-tab,
#layer-tab {
    color: rgb(40, 229, 250);
    font-weight: bold;
}


.leaflet-control-attribution {
    font-size: 8px;
}