#map {

    height: 100vh;
}


#map-container {

    position: relative;
}


/* Latest attempt below */
/* 
#search-surrounding {

    background-color: aquamarine;
    z-index: 34000;
    padding: 15px;
} */



.search-peri{

    background-color: rgba(247, 247, 241, 0.60);
    z-index: 34000;
    padding: 5px;
}



#top-bar-left {

    position: absolute;
    z-index: 35000;
    left: 16%;
}



#top-bar-right {

    position: absolute;
    z-index: 35000;
    left: 1.5%;
    top:1.5%
}


#search-input {
    float: right;
}

#search-park-type {
    float: left;
}

#display-search {
/* 
    position: absolute;
    z-index: 35000;
    top: 33%;
    left: 67%; */
    max-height: 200px;
    overflow-y: scroll;
}

#categories-error {
font-size:xx-small;
color:red;
font-weight: 500;
}